/* 

https://coolors.co/c727c4-25b2d8-39b51a-2980f7-397a1a

light purple: #C727C4
dark purple: #700970

light blue: #25B2D8
dark blue: #2980F7

light green: #39B51A
dark green: #397A1A

light red: #FC7070
dark red: #AF0505

*/

header {
	background: #F5F5F5;
}
header, header nav ul li a, footer ul li a {
	color: #700970;
}
header nav ul li:nth-child(1) a:hover, .here1 {
	border-bottom: solid 5px #700970;
}
header nav ul li:nth-child(2) a:hover, .here2 {
	border-bottom: solid 5px #C727C4;
}
header nav ul li:nth-child(3) a:hover, .here3 {
	border-bottom: solid 5px #25B2D8;
}
header nav ul li:nth-child(4) a:hover, .here4 {
	border-bottom: solid 5px #39B51A;
}
header nav ul li:nth-child(5) a:hover, .here5 {
	border-bottom: solid 5px #FC7070;
}
#hours-top {
	color: #2980F7;
}
#clock {
	color: #25B2D8;
}
#phone-top {
	color: #397A1A;
}
#phone-glyph {
	color: #39B51A;
}
header nav ul li a:hover, section ul li a:hover {
	color: #FC7070;
}



/*

	SECTION

*/
section #phone-impo, section #phone-impo div {
	color: #700970;
}
section #button-impo a {
	color: #2980F7;
	text-decoration: none;
}
section #email-impo {
	color: #397A1A;
}
section {
	background: #FFFFFF;
	color: #000000;
}
.purp, .cyan, .gree {
	font-weight: bold;
	font-size: 1.2em;
}
.purp {
	color: #700970;
}
.cyan {
	color: #2980F7;
}
.gree {
	color: #397A1A;
}




/*

	CARDS

*/
.card {
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
article ul li {
	color: #000;
}
article ul li span {
	color: #FFF;
}



/*

	REVIEWS

*/
.name {
	color: #700970;
}
.date {
	color: #CCCCCC;
}
.reviews article, .reviews article img {
	background: #39B51A;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/*

	FOOTER NAV

*/
footer nav ul li a {
	border-right: solid 20px #DDDDDD;
}
footer nav ul li:nth-child(1) a:hover, footer nav ul li.here1 a {
	border-right: solid 20px #700970;
}
footer nav ul li:nth-child(2) a:hover, footer nav ul li.here2 a {
	border-right: solid 20px #C727C4;
}
footer nav ul li:nth-child(3) a:hover, footer nav ul li.here3 a {
	border-right: solid 20px #25B2D8;
}
footer nav ul li:nth-child(4) a:hover, footer nav ul li.here4 a {
	border-right: solid 20px #39B51A;
}
footer nav ul li:nth-child(5) a:hover, footer nav ul li.here5 a {
	border-right: solid 20px #FC7070;
}
footer nav ul li.here1, footer nav ul li.here2, footer nav ul li.here3, footer nav ul li.here4, footer nav ul li.here5 {
	border-bottom: none;
}



/* 

	BACKGROUND COLORS

*/
.bgwhite {
	background: #FFFFFF;
}
.bgwhitet {
	background: rgba(255,255,255,0.8);
}
.bgwhitett {
	background: rgba(255,255,255,0.6);
}

/* PURPLE */
.bgpurple {
	background: #C727C4;
}
.bgpurplet {
	background: rgba(200,40,200,0.8);
}
.bglpurplet {
	background: rgba(200,40,200,0.5);
}
.bgdpurple {
	background: #700970;
}
.bgdpurplet {
	background: rgba(110,10,110,0.8);
}

/* BLUE */
.bgblue {
	background: #25B2D8;
}
.bgbluet {
	background: rgba(40,180,220,0.8);
}
.bglbluet {
	background: rgba(40,180,220,0.5);
}
.bgdblue {
	background: #2980F7;
}
.bgdbluet {
	background: rgba(40,130,250,0.8);
}

/* GREEN */
.bggreen {
	background: #39B51A;
}
.bggreent {
	background: rgba(60,180,30,0.8);
}
.bglgreent {
	background: rgba(60,180,30,0.5);
}
.bgdgreen {
	background: #397A1A;
}
.bgdgreent {
	background: rgba(60,130,30,0.8);
}

/* RED */
.bgred {
	background: #FC7070;
}
.bgdred {
	background: #AF0505;
}

/* IMAGE */
.bg001 {
	background: url("./../img/001.jpg") no-repeat center;
	background-size: cover;
}
.bg002 {
	background: url("./../img/002.jpg") no-repeat center;
	background-size: cover;
}
.bg003 {
	background: url("./../img/003.jpg") no-repeat center;
	background-size: cover;
}
.bg004 {
	background: url("./../img/004.jpg") no-repeat center;
	background-size: cover;
}
.bg005 {
	background: url("./../img/005.jpg") no-repeat center;
	background-size: cover;
}

.bsolid {
	border: solid 1px #000000;
}



/*

	TEXT

*/
.twhite {
	color: #FFFFFF;
}
.tblack {
	color: #000000;
}
.tpurple {
	color: #700970;
}
.tblue {
	color: #2980F7;
}
.tgreen {
	color: #397A1A;
}




section form label {
	color: #FFFFFF;
	background: rgba(0,130,0,0.3);
}
section form input, .fakeinput {
	background: rgba(0,0,0,0.1);
}
.fakeinput2 {
	background: rgba(40,180,220,0.5);
}
section form div div label {
	background: rgba(255,255,255,0.3);
	color: #000000;
}

.txtAreaTransparent {
	background: transparent;
	border: transparent;
}


/*

	#################
	#	BUTTONS		#
	#################

*/
.blueButton {
	-moz-box-shadow: 3px 4px 0px 0px #1564ad;
	-webkit-box-shadow: 3px 4px 0px 0px #1564ad;
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#79bbff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
	margin: 15px;
}
.blueButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
	background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
	background-color:#378de5;
}

.greenButton {
	-moz-box-shadow: 3px 4px 0px 0px #2a8012;
	-webkit-box-shadow: 3px 4px 0px 0px #2a8012;
	box-shadow: 3px 4px 0px 0px #2a8012;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #45d122), color-stop(1, #52a820));
	background:-moz-linear-gradient(top, #45d122 5%, #52a820 100%);
	background:-webkit-linear-gradient(top, #45d122 5%, #52a820 100%);
	background:-o-linear-gradient(top, #45d122 5%, #52a820 100%);
	background:-ms-linear-gradient(top, #45d122 5%, #52a820 100%);
	background:linear-gradient(to bottom, #45d122 5%, #52a820 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#45d122', endColorstr='#52a820',GradientType=0);
	background-color:#45d122;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.greenButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #52a820), color-stop(1, #45d122));
	background:-moz-linear-gradient(top, #52a820 5%, #45d122 100%);
	background:-webkit-linear-gradient(top, #52a820 5%, #45d122 100%);
	background:-o-linear-gradient(top, #52a820 5%, #45d122 100%);
	background:-ms-linear-gradient(top, #52a820 5%, #45d122 100%);
	background:linear-gradient(to bottom, #52a820 5%, #45d122 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#52a820', endColorstr='#45d122',GradientType=0);
	background-color:#52a820;
}
.purpleButton {
	-moz-box-shadow: 3px 4px 0px 0px #8345ad;
	-webkit-box-shadow: 3px 4px 0px 0px #8345ad;
	box-shadow: 3px 4px 0px 0px #8345ad;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4c4ff), color-stop(1, #bc80ea));
	background:-moz-linear-gradient(top, #e4c4ff 5%, #bc80ea 100%);
	background:-webkit-linear-gradient(top, #e4c4ff 5%, #bc80ea 100%);
	background:-o-linear-gradient(top, #e4c4ff 5%, #bc80ea 100%);
	background:-ms-linear-gradient(top, #e4c4ff 5%, #bc80ea 100%);
	background:linear-gradient(to bottom, #e4c4ff 5%, #bc80ea 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4c4ff', endColorstr='#bc80ea',GradientType=0);
	background-color:#e4c4ff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #c584f3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: "Open Sans";
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9752cc;
}
.purpleButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc80ea), color-stop(1, #e4c4ff));
	background:-moz-linear-gradient(top, #bc80ea 5%, #e4c4ff 100%);
	background:-webkit-linear-gradient(top, #bc80ea 5%, #e4c4ff 100%);
	background:-o-linear-gradient(top, #bc80ea 5%, #e4c4ff 100%);
	background:-ms-linear-gradient(top, #bc80ea 5%, #e4c4ff 100%);
	background:linear-gradient(to bottom, #bc80ea 5%, #e4c4ff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc80ea', endColorstr='#e4c4ff',GradientType=0);
	background-color:#bc80ea;
}


/*

	#####################
	#	GLYPH ICONS		#
	#####################

*/

@font-face{
	font-family:"Glyphicons Halflings";
	src: url(https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/fonts/glyphicons-halflings-regular.woff2)
}

a span.glyphicon{
	position: relative;
	bottom: -0.1rem;
	display: inline-block;
	font-family: "Glyphicons Halflings";
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}

.glyphicon{
	position: relative;
	bottom: -0.3rem;
	display: inline-block;
	font-family: "Glyphicons Halflings";
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
.glyphicon-asterisk:before{content:"\002a"}.glyphicon-plus:before{content:"\002b"}.glyphicon-eur:before,.glyphicon-euro:before{content:"\20ac"}
.glyphicon-minus:before{content:"\2212"}.glyphicon-cloud:before{content:"\2601"}.glyphicon-envelope:before{content:"\2709"}
.glyphicon-pencil:before{content:"\270f"}.glyphicon-glass:before{content:"\e001"}.glyphicon-music:before{content:"\e002"}
.glyphicon-search:before{content:"\e003"}.glyphicon-heart:before{content:"\e005"}.glyphicon-star:before{content:"\e006"}
.glyphicon-star-empty:before{content:"\e007"}.glyphicon-user:before{content:"\e008"}.glyphicon-film:before{content:"\e009"}
.glyphicon-th-large:before{content:"\e010"}.glyphicon-th:before{content:"\e011"}.glyphicon-th-list:before{content:"\e012"}
.glyphicon-ok:before{content:"\e013"}.glyphicon-remove:before{content:"\e014"}.glyphicon-zoom-in:before{content:"\e015"}
.glyphicon-zoom-out:before{content:"\e016"}.glyphicon-off:before{content:"\e017"}.glyphicon-signal:before{content:"\e018"}
.glyphicon-cog:before{content:"\e019"}.glyphicon-trash:before{content:"\e020"}.glyphicon-home:before{content:"\e021"}
.glyphicon-file:before{content:"\e022"}.glyphicon-time:before{content:"\e023"}.glyphicon-road:before{content:"\e024"}
.glyphicon-download-alt:before{content:"\e025"}.glyphicon-download:before{content:"\e026"}.glyphicon-upload:before{content:"\e027"}
.glyphicon-inbox:before{content:"\e028"}.glyphicon-play-circle:before{content:"\e029"}.glyphicon-repeat:before{content:"\e030"}
.glyphicon-refresh:before{content:"\e031"}.glyphicon-list-alt:before{content:"\e032"}.glyphicon-lock:before{content:"\e033"}
.glyphicon-flag:before{content:"\e034"}.glyphicon-headphones:before{content:"\e035"}.glyphicon-volume-off:before{content:"\e036"}
.glyphicon-volume-down:before{content:"\e037"}.glyphicon-volume-up:before{content:"\e038"}.glyphicon-qrcode:before{content:"\e039"}
.glyphicon-barcode:before{content:"\e040"}.glyphicon-tag:before{content:"\e041"}.glyphicon-tags:before{content:"\e042"}
.glyphicon-book:before{content:"\e043"}.glyphicon-bookmark:before{content:"\e044"}.glyphicon-print:before{content:"\e045"}
.glyphicon-camera:before{content:"\e046"}.glyphicon-font:before{content:"\e047"}.glyphicon-bold:before{content:"\e048"}
.glyphicon-italic:before{content:"\e049"}.glyphicon-text-height:before{content:"\e050"}.glyphicon-text-width:before{content:"\e051"}
.glyphicon-align-left:before{content:"\e052"}.glyphicon-align-center:before{content:"\e053"}.glyphicon-align-right:before{content:"\e054"}
.glyphicon-align-justify:before{content:"\e055"}.glyphicon-list:before{content:"\e056"}.glyphicon-indent-left:before{content:"\e057"}
.glyphicon-indent-right:before{content:"\e058"}.glyphicon-facetime-video:before{content:"\e059"}.glyphicon-picture:before{content:"\e060"}
.glyphicon-map-marker:before{content:"\e062"}.glyphicon-adjust:before{content:"\e063"}.glyphicon-tint:before{content:"\e064"}
.glyphicon-edit:before{content:"\e065"}.glyphicon-share:before{content:"\e066"}.glyphicon-check:before{content:"\e067"}
.glyphicon-move:before{content:"\e068"}.glyphicon-step-backward:before{content:"\e069"}.glyphicon-fast-backward:before{content:"\e070"}
.glyphicon-backward:before{content:"\e071"}.glyphicon-play:before{content:"\e072"}.glyphicon-pause:before{content:"\e073"}
.glyphicon-stop:before{content:"\e074"}.glyphicon-forward:before{content:"\e075"}.glyphicon-fast-forward:before{content:"\e076"}
.glyphicon-step-forward:before{content:"\e077"}.glyphicon-eject:before{content:"\e078"}.glyphicon-chevron-left:before{content:"\e079"}
.glyphicon-chevron-right:before{content:"\e080"}.glyphicon-plus-sign:before{content:"\e081"}.glyphicon-minus-sign:before{content:"\e082"}
.glyphicon-remove-sign:before{content:"\e083"}.glyphicon-ok-sign:before{content:"\e084"}.glyphicon-question-sign:before{content:"\e085"}
.glyphicon-info-sign:before{content:"\e086"}.glyphicon-screenshot:before{content:"\e087"}.glyphicon-remove-circle:before{content:"\e088"}
.glyphicon-ok-circle:before{content:"\e089"}.glyphicon-ban-circle:before{content:"\e090"}.glyphicon-arrow-left:before{content:"\e091"}
.glyphicon-arrow-right:before{content:"\e092"}.glyphicon-arrow-up:before{content:"\e093"}.glyphicon-arrow-down:before{content:"\e094"}
.glyphicon-share-alt:before{content:"\e095"}.glyphicon-resize-full:before{content:"\e096"}.glyphicon-resize-small:before{content:"\e097"}
.glyphicon-exclamation-sign:before{content:"\e101"}.glyphicon-gift:before{content:"\e102"}.glyphicon-leaf:before{content:"\e103"}
.glyphicon-fire:before{content:"\e104"}.glyphicon-eye-open:before{content:"\e105"}.glyphicon-eye-close:before{content:"\e106"}
.glyphicon-warning-sign:before{content:"\e107"}.glyphicon-plane:before{content:"\e108"}.glyphicon-calendar:before{content:"\e109"}
.glyphicon-random:before{content:"\e110"}.glyphicon-comment:before{content:"\e111"}.glyphicon-magnet:before{content:"\e112"}
.glyphicon-chevron-up:before{content:"\e113"}.glyphicon-chevron-down:before{content:"\e114"}.glyphicon-retweet:before{content:"\e115"}
.glyphicon-shopping-cart:before{content:"\e116"}.glyphicon-folder-close:before{content:"\e117"}.glyphicon-folder-open:before{content:"\e118"}
.glyphicon-resize-vertical:before{content:"\e119"}.glyphicon-resize-horizontal:before{content:"\e120"}.glyphicon-hdd:before{content:"\e121"}
.glyphicon-bullhorn:before{content:"\e122"}.glyphicon-bell:before{content:"\e123"}.glyphicon-certificate:before{content:"\e124"}
.glyphicon-thumbs-up:before{content:"\e125"}.glyphicon-thumbs-down:before{content:"\e126"}.glyphicon-hand-right:before{content:"\e127"}
.glyphicon-hand-left:before{content:"\e128"}.glyphicon-hand-up:before{content:"\e129"}.glyphicon-hand-down:before{content:"\e130"}
.glyphicon-circle-arrow-right:before{content:"\e131"}.glyphicon-circle-arrow-left:before{content:"\e132"}.glyphicon-circle-arrow-up:before{content:"\e133"}
.glyphicon-circle-arrow-down:before{content:"\e134"}.glyphicon-globe:before{content:"\e135"}.glyphicon-wrench:before{content:"\e136"}
.glyphicon-tasks:before{content:"\e137"}.glyphicon-filter:before{content:"\e138"}.glyphicon-briefcase:before{content:"\e139"}
.glyphicon-fullscreen:before{content:"\e140"}.glyphicon-dashboard:before{content:"\e141"}.glyphicon-paperclip:before{content:"\e142"}
.glyphicon-heart-empty:before{content:"\e143"}.glyphicon-link:before{content:"\e144"}.glyphicon-phone:before{content:"\e145"}
.glyphicon-pushpin:before{content:"\e146"}.glyphicon-usd:before{content:"\e148"}.glyphicon-gbp:before{content:"\e149"}
.glyphicon-sort:before{content:"\e150"}.glyphicon-sort-by-alphabet:before{content:"\e151"}.glyphicon-sort-by-alphabet-alt:before{content:"\e152"}
.glyphicon-sort-by-order:before{content:"\e153"}.glyphicon-sort-by-order-alt:before{content:"\e154"}.glyphicon-sort-by-attributes:before{content:"\e155"}
.glyphicon-sort-by-attributes-alt:before{content:"\e156"}.glyphicon-unchecked:before{content:"\e157"}.glyphicon-expand:before{content:"\e158"}
.glyphicon-collapse-down:before{content:"\e159"}.glyphicon-collapse-up:before{content:"\e160"}.glyphicon-log-in:before{content:"\e161"}
.glyphicon-flash:before{content:"\e162"}.glyphicon-log-out:before{content:"\e163"}.glyphicon-new-window:before{content:"\e164"}
.glyphicon-record:before{content:"\e165"}.glyphicon-save:before{content:"\e166"}.glyphicon-open:before{content:"\e167"}.glyphicon-saved:before{content:"\e168"}
.glyphicon-import:before{content:"\e169"}.glyphicon-export:before{content:"\e170"}.glyphicon-send:before{content:"\e171"}
.glyphicon-floppy-disk:before{content:"\e172"}.glyphicon-floppy-saved:before{content:"\e173"}.glyphicon-floppy-remove:before{content:"\e174"}
.glyphicon-floppy-save:before{content:"\e175"}.glyphicon-floppy-open:before{content:"\e176"}.glyphicon-credit-card:before{content:"\e177"}
.glyphicon-transfer:before{content:"\e178"}.glyphicon-cutlery:before{content:"\e179"}.glyphicon-header:before{content:"\e180"}
.glyphicon-compressed:before{content:"\e181"}.glyphicon-earphone:before{content:"\e182"}.glyphicon-phone-alt:before{content:"\e183"}
.glyphicon-tower:before{content:"\e184"}.glyphicon-stats:before{content:"\e185"}.glyphicon-sd-video:before{content:"\e186"}
.glyphicon-hd-video:before{content:"\e187"}.glyphicon-subtitles:before{content:"\e188"}.glyphicon-sound-stereo:before{content:"\e189"}
.glyphicon-sound-dolby:before{content:"\e190"}.glyphicon-sound-5-1:before{content:"\e191"}.glyphicon-sound-6-1:before{content:"\e192"}
.glyphicon-sound-7-1:before{content:"\e193"}.glyphicon-copyright-mark:before{content:"\e194"}.glyphicon-registration-mark:before{content:"\e195"}
.glyphicon-cloud-download:before{content:"\e197"}.glyphicon-cloud-upload:before{content:"\e198"}.glyphicon-tree-conifer:before{content:"\e199"}
.glyphicon-tree-deciduous:before{content:"\e200"}.glyphicon-cd:before{content:"\e201"}.glyphicon-save-file:before{content:"\e202"}
.glyphicon-open-file:before{content:"\e203"}.glyphicon-level-up:before{content:"\e204"}.glyphicon-copy:before{content:"\e205"}
.glyphicon-paste:before{content:"\e206"}.glyphicon-alert:before{content:"\e209"}.glyphicon-equalizer:before{content:"\e210"}
.glyphicon-king:before{content:"\e211"}.glyphicon-queen:before{content:"\e212"}.glyphicon-pawn:before{content:"\e213"}.glyphicon-bishop:before{content:"\e214"}
.glyphicon-knight:before{content:"\e215"}.glyphicon-baby-formula:before{content:"\e216"}.glyphicon-tent:before{content:"\26fa"}
.glyphicon-blackboard:before{content:"\e218"}.glyphicon-bed:before{content:"\e219"}.glyphicon-apple:before{content:"\f8ff"}
.glyphicon-erase:before{content:"\e221"}.glyphicon-hourglass:before{content:"\231b"}.glyphicon-lamp:before{content:"\e223"}
.glyphicon-duplicate:before{content:"\e224"}.glyphicon-piggy-bank:before{content:"\e225"}.glyphicon-scissors:before{content:"\e226"}
.glyphicon-bitcoin:before{content:"\e227"}.glyphicon-btc:before{content:"\e227"}.glyphicon-xbt:before{content:"\e227"}.glyphicon-yen:before{content:"\00a5"}
.glyphicon-jpy:before{content:"\00a5"}.glyphicon-ruble:before{content:"\20bd"}.glyphicon-rub:before{content:"\20bd"}.glyphicon-scale:before{content:"\e230"}
.glyphicon-ice-lolly:before{content:"\e231"}.glyphicon-ice-lolly-tasted:before{content:"\e232"}.glyphicon-education:before{content:"\e233"}
.glyphicon-option-horizontal:before{content:"\e234"}.glyphicon-option-vertical:before{content:"\e235"}.glyphicon-menu-hamburger:before{content:"\e236"}
.glyphicon-modal-window:before{content:"\e237"}.glyphicon-oil:before{content:"\e238"}.glyphicon-grain:before{content:"\e239"}
.glyphicon-sunglasses:before{content:"\e240"}.glyphicon-text-size:before{content:"\e241"}.glyphicon-text-color:before{content:"\e242"}
.glyphicon-text-background:before{content:"\e243"}.glyphicon-object-align-top:before{content:"\e244"}.glyphicon-object-align-bottom:before{content:"\e245"}
.glyphicon-object-align-horizontal:before{content:"\e246"}.glyphicon-object-align-left:before{content:"\e247"}
.glyphicon-object-align-vertical:before{content:"\e248"}.glyphicon-object-align-right:before{content:"\e249"}
.glyphicon-triangle-right:before{content:"\e250"}.glyphicon-triangle-left:before{content:"\e251"}.glyphicon-triangle-bottom:before{content:"\e252"}
.glyphicon-triangle-top:before{content:"\e253"}.glyphicon-console:before{content:"\e254"}.glyphicon-superscript:before{content:"\e255"}
.glyphicon-subscript:before{content:"\e256"}.glyphicon-menu-left:before{content:"\e257"}.glyphicon-menu-right:before{content:"\e258"}
.glyphicon-menu-down:before{content:"\e259"}.glyphicon-menu-up:before{content:"\e260"}